body { 
font-family:'Courier';
margin: 16px;
padding: 16px;
}

h2 {
   font-size: medium;
}

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #navbar {
    overflow: hidden;
    background-color:#f1f1f1;
    font-family:Courier;
    font-weight: 300;
    font-size: large;
}

  #navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  #imagesofplants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    margin-left: 16px;
  }
