#logo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: white;
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#menu {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-variant: small-caps;
    list-style-type: none;
    list-style-position: outside;
    text-align: right;
    padding-right: 20px;
    }
li {
    padding-left: 15px;
}

ol {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

a:link {
    color: whitesmoke;
    text-decoration: none;
}

a:visited {
    color: oldlace;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: underline;
}
header {
    background-color: orange;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

body {
    margin-top: 7%;
    background-color: lightgoldenrodyellow;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    color: #C2B38A;
    padding: 20px;
    margin-left: 40px;
    margin-top: 40px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #C2B38A;
    padding: 20px;
}

#p1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: darkorange;
    padding: 20px;
    line-height: 40px;
}

#p2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: darkorange;
    padding: 25px;
    line-height: 40px;
}

#p3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: darkorange;
    padding: 20px;
    margin-left: 40px;
    line-height: 40px;
    width: 400px;
}

#section1 {
    display: flex;
    flex-direction: row;
    margin: 50px;
    padding: 15px;
    justify-content: space-between;
    background-color: #fcf7eb;
}
#main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px;
}

#section2 {
    background-color: #fcf7eb;
    width: 30%;
    padding: 25px;
    align-content: left;
    justify-content: space-evenly;
}

#section3 {
    display: flex;
    flex-direction: column;
    background-color: #fcf7eb;
    width: 25%;
    padding: 25px;
    align-content: left;
    justify-content: space-evenly;
}
#mainimg{
    max-width: 100%;
    height: 400px;
}
#p4 {
    font-family: 'Courier New', Courier, monospace;
    background-color: blanchedalmond;
    margin-top: 20px;
    padding: 10px;
    word-wrap: normal;
}

#section4 {
    display: flex;
    flex-direction: column;
    background-color: #fcf7eb;
    width: 25%;
    padding: 25px;
    margin-right: 20px;
    align-content: left;
    justify-content: space-evenly;

}

.images {
    display: flex;
    flex-direction: row;
    width: 750px;
    height: 500px;
    justify-content: left;
    overflow: scroll;
}

.button {
    background-color: rgb(219, 197, 170);
    padding: 14px 40px;
    margin: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
}


footer {
    background-color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: darkolivegreen;
    margin: 0;
    padding: 10px;
    position: static;
    margin-bottom: 0;
    width: 100%
}
